{% macro fig(plot) %}
<div id="{{plot.name}}" class="col-xs-4 col-md-2 well center-block figure-container" style="padding:5px;">
  <a title="{{ plot.title }}">
    <img id="_{{plot.name}}" src="./figures/{{ plot.name }}.png" class="thumbnail img-responsive center-block">
  </a>
  <div class="caption">
    <p class="text-center"> {{ plot.name }} </p>
  </div>
  <div class="caption" hidden style="overflow-x: auto">
    {% if plot.html %}<p class="text-left">{{ plot.html|safe }}</p> {% endif %}
    {% if plot.docs %}<div class="text-left">{{ plot.docs|safe }}</div> {% endif %}
    <hr>
    <p class="text-left"><strong>Plot Arguments</strong></p>
    <table class="table table-hover">
      <tbody>
      {% for key, val in plot.argdict.items() %}
        <tr>
          <td>{{ key }}</td> <td class="text-left">{{ val }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endmacro %}
